body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  gap: 10px;
}